<?xml version="1.0" encoding="UTF-8"?>
<!--
processPath="%JAVA_HOME\bin\java.exe"
arguments="
-Djava.net.preferIPv4Stack=true -Djetty.port=%HTTP\_PLATFORM\_PORT% 
-Djetty.base=&quot;%HOME%\site\wwwroot\bin\jetty-distribution-9.1.0.v20131115&quot; 
-jar &quot;%HOME%\site\wwwroot\bin\jetty-distribution-9.1.0.v20131115\start.jar&quot;"

processPath="%HOME%\site\wwwroot\bin\tomcat\bin\catalina.bat"
arguments="start"

processPath="%HOME%\site\wwwroot\data_integration\carte.bat"
arguments="localhost %HTTP\_PLATFORM\_PORT%"

java.net.preferIPv4Stack=true
-->
<configuration>
	<system.webServer>
		<handlers>
			<add name="httppPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
		</handlers>
		<httpPlatform processPath="%HOME%\site\wwwroot\run.bat" arguments="localhost %HTTP_PLATFORM_PORT%" startupTimeLimit="40" startupRetryCount="10" stdoutLogEnabled="false">
			<environmentVariables>
				<environmentVariable name="JAVA_HOME" value="D:\Program Files\Java\jdk1.8.0_25"/>
				<environmentVariable name="JRE_HOME" value="D:\Program Files\Java\jdk1.8.0_25"/>
				<environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true"/>
				<environmentVariable name="OPT" value="-Djava.net.preferIPv4Stack=true"/>
				<environmentVariable name="USERPROFILE" value="D:\home\Data"/>
			</environmentVariables>
		</httpPlatform>
	</system.webServer>
</configuration>
